
.mypage{
    margin: 0 auto;
  
}
@font-face {
    font-family: intro;
    src: url(../font/Paperlogy-7Bold.ttf);
}
.mypage i{
    font-size: 35px;
    margin-right: 40px;
}
.mypage_intro{
    font-family: intro;
font-size: 25px;
margin-bottom: 0px;
}

.color{
 color: #2e228a;
font-weight: bold;
font-size:1.5em;
}
.mypage_content
{width:60%;

margin-top: 0px;
font-family: intro;
font-size: 18px;
position:relative;
}
.mypage_content ul li{
    margin-bottom: 30px;
    width:100%;
    height:50px;
    line-height: 50px;
    background-color: #fff;
    box-sizing: border-box;
    padding-left: 20px;
    border-radius: 10px;
    position: relative;
	text-align: left;
border: 1px solid #000;
}

a{

    text-decoration: none;
    color: #000;
    transition: ease-in 0.3s;
	display:block;
}
a:hover{
    color: #763c0a;
}
.edit{
    position:absolute;
    top:-8%;
    right:1%;
    z-index: 999;
}
.in{
   display:inline-block;
   margin-left:250px;
   font-weight: bold;
}
.leftSpan{
 display:inline-block;
 width:80px;
}
article{
   
    margin: 0 auto;
margin-bottom: 50px;
}

article h2{
	margin-top:150px;
}

.mypage_pay{
width:100%;
background-color: #fff;
border-radius: 10px;
box-sizing: border-box;
padding:20px 30px;
margin-bottom:50px;
font-size: 15px;
}
.mypage_pay ul li{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
}
.mypage_pay ul li:nth-child(5){
    margin-bottom: 0px;
}
.pay_title{
    width:120px;
    display: inline-block;
}
.content_left{
    flex: 1;
}
.content_right{
    flex: 1;
}
.date{
margin-top:30px;
}
.payReult{

    margin-top: 80px;
}
